<h3 class="contenttitle">Howdy!</h3>

<p>SoundBoard is a demo app for showing how <a href="http://wiki.github.com/soundcloud/sc-connect">Connect with SoundCloud</a> works. It generates a little artist page by accessing the connected SoundCloud account to get the information and tracks. Forss tried it and the result looks like 
<a href="/users/ericwahlforss">this</a>.
</p>
<p><a href="http://wiki.github.com/soundcloud/sc-connect">Here you can read more about Connect with SoundCloud and how it can be used on various platforms.</a>
</p>
<p>
To try this demo, start by creating a SoundBoard account:
</p>

<% form_for(User.new) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, 'Username' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :password, 'Password' %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, 'Confirm Password' %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  
  <p>
    <%= f.submit 'Sign up' %>
  </p>
  
<% end %>